* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #E5E5E5;
  }
  .main-screen,
  .score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  #start-button,
  #restart {
    font-size: 22px;
    padding: 8px 20px;
    border-radius: 8px;
    background: #439A97;
  }
  #restart {
    margin-top: 0.9em;
  }
  #display-container {
    background-color: #ffffff;
    padding: 49px 28px;
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
  }
  .header {
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1.2px solid #c0bfd2;
  }
  .timer-glass{
    width: 28px;
  }
  .timer{
    background-color: #e1f5fe;
    width: 100px;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
  }
  .question {
    margin-bottom: 20px;
    font-weight: 600;
  }
  .option-div {
    font-size: 14px;
    width: 100%;
    padding: 16px;
    margin: 4px 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid #c0bfd2;
    border-radius: 8px;
  }
  .option-div:disabled {
    color: #000000;
    cursor: not-allowed;
  }
  #next-button {
    font-size: 16px;
    margin-top: 20px;
    background-color: #439A97;;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 8px;
    float: right;
  }
  .hide {
    display: none;
  }
  .incorrect {
    background-color: #ffdde0;
    color: #d32f2f;
    border-color: #d32f2f;
  }
  .correct {
    background-color: #e7f6d5;
    color: #689f38;
    border-color: #689f38;
  }
  #user-score {
    font-size: 25px;
    color: black;
  }